{{#post}}
    <li class="list-group-item">
        <div class="lead">
            <a href="/posts/{{this._id}}" class="lead">{{this.title}}</a>

        </div>
        <p>{{this.summary}}</p>
        <a href="{{this.url}}" target="_blank">{{this.url}}<a>
                <a href="/n/{{this.subreddit}}"><div class="text-right">{{this.subreddit}}</div></a>
    </li>



{{/post}}
