{{#post}}
    <li class="list-group-item">
        <div class="lead">
            <a href="/posts/{{this._id}}" class="lead">{{this.title}}</a>

        </div>
        <p>{{this.summary}}</p>
        <a href="{{this.url}}" target="_blank">{{this.url}}<a>
                <a href="/n/{{this.subreddit}}">
                    <div class="text-right">{{this.subreddit}}</div>
                </a>
                <!-- Authors name should display not ID -->
                {{this.author}}
    </li>


    <form action="/posts/{{this._id}}/comments" method="post">
        <textarea class='form-control' name="content" placeholder="Comment"></textarea>
        <div class="text-right">
            <button type="submit">Save</button>
        </div>
    </form>
    <h3>Comments</h3>
    <hr>
{{/post}}
{{#each post.comments}}
<!-- Authors name should display not ID -->
<small class="text-left">Commented By: {{this.author}}</small>
    <p>{{this.content}}</p>
    <hr>
{{/each}}
